.div-block {
  width: 100vw;
  height: 100vh;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: rgba(51, 51, 51, .31);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Bitter, serif;
  font-weight: 700;
  display: flex;
}

.image {
  width: 4rem;
}
