.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  outline-offset: 2px;
  border-radius: 50%;
  outline: 2px solid #3b79c3;
}

h1 {
  color: #353a4b;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 65px;
  font-weight: 800;
  line-height: 65px;
}

h2 {
  color: #353a4b;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Graphik, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  color: #353a4b;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Graphik, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

p {
  color: #8e9097;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  color: #3284ff;
  text-decoration: none;
}

li {
  margin-bottom: 13px;
  font-family: Graphik, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

strong {
  font-weight: bold;
}

.padding-global {
  padding-left: 20px;
  padding-right: 20px;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.padding-section-large {
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-hero {
  overflow: hidden;
}

.heading {
  font-size: 55px;
  line-height: 55px;
}

.aling-center {
  text-align: center;
}

.aling-center.max-width-medium.cta {
  font-size: 54px;
}

.aling-center.max-width-large {
  font-family: Graphik, sans-serif;
  line-height: 70px;
  display: flex;
}

.aling-center.max-width-large.cta {
  font-size: 49px;
}

.aling-center.max-width-xlarge {
  line-height: 70px;
}

.aling-right {
  text-align: right;
}

.heading-2 {
  background-color: #353a4b;
}

.max-width-xlarge {
  width: 100%;
  max-width: 60rem;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.max-width-medium.margin--top {
  margin-top: 20px;
}

.max-width-medium.margin--top.flex {
  grid-column-gap: 10px;
  flex-direction: row;
  align-items: center;
}

.max-width-medium.dashboard {
  font-size: 56px;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.max-width-xmall {
  width: 100%;
  max-width: 16rem;
}

.section-subtext.aling-center {
  font-size: 20px;
  line-height: 28px;
}

.section-subtext.aling-center.margin-bottom {
  color: #81848d;
  margin-bottom: 48px;
  font-family: Instrument Sans, sans-serif;
  font-weight: 500;
}

.hero-content-wrapper {
  height: 40vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.hero-content-wrapper.margin--top {
  min-height: 487px;
  position: relative;
}

.cta-button {
  grid-column-gap: 10px;
  background-color: #3284ff;
  border-radius: 9px;
  align-items: center;
  padding: 12px 21px;
  transition: all .2s;
  display: flex;
  box-shadow: 0 6px 0 5px #2864bf;
}

.cta-button:hover {
  background-color: #2079ff;
  transform: translate(0, -4px);
  box-shadow: 0 8px 0 7px #2864bf;
}

.cta-button:active {
  transform: translate(0);
  box-shadow: 0 6px 0 5px #2864bf;
}

.cta-button.small {
  grid-column-gap: 5px;
  color: #fff;
  justify-content: center;
  margin-bottom: 7px;
  padding: 9px 14px;
  text-decoration: none;
  box-shadow: 0 4px 0 3px #2864bf;
}

.cta-button.small:hover {
  box-shadow: 0 5px 0 5px #2864bf;
}

.cta-button.small:active {
  box-shadow: 0 5px 0 2px #2864bf;
}

.cta-button.margin--top {
  color: #fff;
}

.cta-button.margin--top:hover {
  background-color: #3b89ff;
}

.cta-button.secondary {
  color: #64748d;
  background-color: #f0f1f5;
  box-shadow: 0 6px 0 5px #c0c3d1;
}

.cta-button.secondary:hover {
  box-shadow: 0 7px 0 7px #c0c3d1;
}

.cta-button.secondary:active {
  box-shadow: 0 7px 0 4px #c0c3d1;
}

.button-text {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.button-text.small {
  font-size: 16px;
  font-weight: 600;
}

.div-block {
  background-color: #26487a;
  border-radius: 12px;
  padding: 2px 4px 4px;
}

.chip-wrapper {
  background-image: linear-gradient(169deg, #5e9eff, #cce1ff 56%);
  padding: 2px;
}

.div-block-2 {
  background-color: #dceaff;
  padding: 6px 10px;
}

.chip-text {
  color: #06f;
  font-family: Graphik, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.container-navigation {
  padding: 11px;
}

.navbar2_link {
  color: rgba(131, 135, 146, .76);
  letter-spacing: 0;
  border-radius: 7px;
  padding: .5rem 1rem;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.navbar2_link:hover {
  color: rgba(18, 18, 19, .82);
}

.navbar2_link.w--current {
  color: #353a4b;
  font-weight: 700;
}

.navbar2_link.mobile {
  display: none;
}

.navbar2_logo-link {
  padding-left: 0;
}

.navbar2_menu {
  justify-content: center;
  align-items: center;
  display: flex;
  position: static;
}

.navbar2_menu.is-page-height-tablet {
  grid-column-gap: 20px;
}

.navbar2_menu-button {
  padding: 0;
}

.navbar2_container {
  width: 100%;
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr .25fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.navbar2_container.blog {
  max-width: 60rem;
}

.navbar2_button-wrapper {
  grid-column-gap: 1rem;
  margin-left: 1rem;
  display: flex;
}

.navbar2_dropdown-link {
  padding: .5rem 1rem;
}

.navbar2_dropdown-link.w--current {
  color: rgba(0, 0, 0, 0);
}

.dropdown-icon {
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.navbar2_dropdown-list.w--open {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: .5rem;
  position: absolute;
}

.button {
  color: rgba(0, 0, 0, 0);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: .75rem 1.5rem;
}

.button.is-navbar2-button {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.navbar2_dropdwn-toggle {
  padding: .5rem 2.5rem .5rem 1rem;
}

.navbar2_component {
  width: 100%;
  height: auto;
  max-width: 82rem;
  min-height: 4.5rem;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  cursor: auto;
  background-color: rgba(255, 255, 255, .84);
  border: 1px solid rgba(77, 108, 216, .14);
  border-radius: 17px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 16px;
  font-family: Graphik, sans-serif;
  display: flex;
  position: fixed;
  top: 1%;
  bottom: auto;
  left: 0%;
  right: 0%;
  box-shadow: 0 2px 100px #d8dde9;
}

.image {
  width: 80%;
  object-fit: cover;
  object-position: 50% 0%;
  margin-left: auto;
  margin-right: auto;
  transition: all .2s ease-in-out;
}

.dashboard-wrapper {
  height: 700px;
  max-height: 50vh;
  min-height: 600px;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.standard-link-block {
  text-decoration: none;
}

.standard-link-block.margin--top {
  margin-top: 40px;
}

.heading-3 {
  line-height: 65px;
}

.image-2 {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.benefits-wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.padding-section-xlarge {
  padding-top: 120px;
  padding-bottom: 120px;
}

.padding-section-xlarge.padding-bottom {
  padding-bottom: 50px;
}

.grid-container {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-container.margin--top {
  margin-top: 60px;
}

.grid-item-wrapper {
  position: relative;
}

.image-3 {
  width: 100%;
  border-radius: 20px;
}

.heading-4 {
  font-size: 24px;
  font-weight: 600;
}

.benefit-item-text-wrapper {
  flex-direction: column;
  align-items: flex-start;
  padding-right: 29px;
  display: flex;
}

.benefits-subtext {
  font-weight: 400;
}

.text-size-small {
  font-size: 12px;
}

.text-size-medium {
  font-size: 14px;
  text-decoration: none;
}

.text-size-medium.text-width-bold {
  font-weight: 700;
}

.text-size-large {
  font-size: 16px;
}

.text-size-xlarge {
  color: #94969e;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.padding-section-null {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-section-null.padding-bottom {
  padding-bottom: 100px;
}

.features-main-wrapper {
  grid-row-gap: 15px;
  background-image: linear-gradient(315deg, #071222, #1d2130);
  border-radius: 20px;
  flex-direction: column;
  padding: 120px 101px 101px;
  display: flex;
  position: relative;
}

.feature-item-text {
  color: #fff;
  font-family: Graphik, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 60px;
}

.features-item {
  grid-column-gap: 20px;
  align-items: center;
  display: flex;
}

.div-block-5 {
  height: 44px;
  background-color: rgba(255, 255, 255, .12);
  flex: 1;
  line-height: 20px;
}

.feature-item-icon {
  opacity: .25;
}

.dashboard-image-wrapper {
  width: 60%;
  height: 699px;
}

.div-block-6 {
  width: 34%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.dashboard-item-heading {
  color: #576485;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.dashboard-item-heading.white {
  color: #fff;
}

.featute-list-wrapper {
  grid-column-gap: 10px;
  display: flex;
}

.div-block-7 {
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.div-block-7.margin--top {
  grid-row-gap: 15px;
  margin-top: 18px;
}

.margin-top, .margin--top {
  margin-top: 0;
}

.div-block-8 {
  width: 35%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.image-4 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.flex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.div-block-9 {
  width: 100%;
}

.pricing-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pricing {
  grid-column-gap: 11px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: stretch;
  display: grid;
}

.pricing-item-wrapper {
  background-color: #edeefb;
  border-radius: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 31px;
  display: flex;
}

.pricing-item-wrapper.darkblue {
  background-color: #2e7bf0;
}

.pricing-item-wrapper.darkblue._2, .pricing-item-wrapper._2test {
  width: 350px;
}

.heading-size-large {
  color: #2e3034;
  font-size: 65px;
  font-weight: 600;
  line-height: 65px;
}

.heading-size-large.white {
  color: #fff;
}

.list {
  color: #485160;
  padding-left: 21px;
  font-family: Instrument Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
}

.list.white {
  color: #fff;
}

.cta2 {
  width: 100%;
  color: #353a4b;
  background-color: #dce1f1;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.cta2:hover {
  color: #fff;
  background-color: #353a4b;
}

.cta2.dark {
  color: #353a4b;
  background-color: #fff;
  text-decoration: none;
}

.cta2.dark:hover {
  color: #fff;
  background-color: #353a4b;
}

.cta2-text {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.price-wrapper {
  grid-column-gap: 10px;
  align-items: center;
  display: flex;
}

.price-wrapper.margin-bottom {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.text-block-3 {
  color: rgba(53, 58, 75, .46);
  margin-top: 7px;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 700;
}

.text-block-3.white {
  color: rgba(255, 255, 255, .46);
}

.faq-wrapper {
  height: auto;
  margin-top: 34px;
}

.faq-question-wrapper {
  width: 80%;
  height: auto;
  cursor: pointer;
  background-color: rgba(234, 236, 240, .53);
  border-radius: 17px;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  transition: opacity .2s ease-in-out;
  display: block;
  overflow: hidden;
}

.faq-question-wrapper:hover {
  background-color: #f4f5f7;
}

.faq-question-wrapper:active {
  transform: scale(1.01);
}

.div-block-17 {
  width: 100%;
  justify-content: space-between;
  font-family: Inter, sans-serif;
  display: flex;
}

.faq-question-text {
  color: #1a1a1a;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.closefaq {
  transition: opacity .2s ease-in-out;
}

.closefaq:hover {
  opacity: .36;
}

.faq-answer {
  width: 100%;
  height: auto;
  margin-top: 21px;
}

.paragraph {
  height: auto;
  color: #8e929e;
  margin-bottom: 0;
  padding-right: 121px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.final-cta-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex-align-center {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.h1-style {
  font-family: Inter, sans-serif;
  font-size: 65px;
  font-weight: 800;
  line-height: 65px;
}

.cta-button-wrapper {
  grid-column-gap: 50px;
  display: flex;
}

.section-footer.margin--top {
  border-top: 1px solid #dfe2ec;
}

.footer-content-wrapper {
  justify-content: space-between;
  display: flex;
}

.body {
  font-family: Inter, sans-serif;
}

.text-width-bold {
  font-weight: 700;
}

.text-width-bold.text-size-large {
  color: #353a4b;
  font-size: 14px;
}

.footer-link {
  color: #353a4b;
  text-decoration: none;
}

.footer-link.text-size-large {
  color: #a2a4aa;
  font-family: Inter, sans-serif;
  font-size: 14px;
  transition: all .2s;
}

.footer-link.text-size-large:hover {
  color: #06f;
  font-weight: 700;
}

.footer-link.text-size-large.w--current {
  color: #358cff;
  font-family: Inter, sans-serif;
  font-weight: 800;
}

.footer-link-wrappers {
  width: 100px;
  grid-row-gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  transition: all .2s;
  display: flex;
}

.footer-link-main-wrap {
  grid-column-gap: 50px;
  justify-content: space-around;
  display: flex;
}

.footer-utility-wrapper {
  display: flex;
}

.footer-utility-wrapper.margin--top {
  justify-content: space-between;
  margin-top: 61px;
}

.section-faq {
  position: relative;
}

.section-pricing.margin--top {
  margin-top: 120px;
}

.section-dashboard {
  overflow: hidden;
}

.footer-wrap {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.footer-wrap.margin--top {
  margin-top: 60px;
  padding-bottom: 10px;
}

.footer-wrap.margin--top.margin-bottom {
  margin-bottom: 60px;
}

.margin-bottom {
  margin-bottom: 0;
}

.padding-section-xxlarge {
  padding-top: 160px;
  padding-bottom: 160px;
}

.padding-section-xxlarge.padding-bottom {
  padding-bottom: 80px;
}

.benefits-heading {
  font-family: Instrument Sans, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
}

.container-medium {
  width: 100%;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.blog-writer-headshot {
  border-radius: 555px;
}

.author-details {
  grid-column-gap: 10px;
  align-items: center;
  display: flex;
}

.author-details.max-width-large {
  margin-top: 20px;
}

.sheen {
  z-index: 0;
  mix-blend-mode: darken;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: -19%;
  right: auto;
}

.sheen._1 {
  top: -15%;
  bottom: auto;
  left: auto;
  right: -23%;
}

.hero-lock {
  z-index: 2;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.link {
  color: #003cff;
  text-decoration: none;
}

.tabs-menu {
  grid-column-gap: 10px;
  background-color: #dfecff;
  background-image: linear-gradient(125deg, #dfecff, #e5f0ff);
  border-radius: 24px;
  justify-content: center;
  padding: 5px;
  display: flex;
}

.tabs {
  width: 100%;
  grid-row-gap: 40px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.pricing-tabs-wrapper.margin--top {
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  display: flex;
  position: relative;
}

.tab-link-tab-1 {
  letter-spacing: .3px;
  background-color: rgba(53, 58, 75, 0);
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
}

.tab-link-tab-1.w--current {
  color: #fff;
  background-color: #3284ff;
  border-radius: 6px;
  font-weight: 700;
}

.tab-link-tab-1.w--current:hover {
  background-color: #2f80fa;
}

.tab-link-tab-2 {
  color: #353a4b;
  background-color: rgba(221, 221, 221, 0);
  font-weight: 700;
}

.tab-link-tab-1:hover {
  background-color: rgba(187, 213, 255, .36);
}

.tab-link-tab-1.w--current {
  border-radius: 20px;
}

.tab-pane-tab-2, .tabs-content {
  width: 100%;
}

.pricing-item-heading {
  color: #576485;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.pricing-item-heading.whtie {
  color: #fff;
}

.pricing-item-heading._2 {
  color: rgba(87, 100, 133, .75);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.pricing-item-heading._2.white {
  color: rgba(255, 255, 255, .4);
}

.pricing-item-heading._3 {
  font-size: 25px;
  font-weight: 900;
  line-height: 47px;
}

.saveupto {
  max-width: 158%;
  position: absolute;
  top: -82%;
  bottom: auto;
  left: auto;
  right: -125%;
  transform: rotate(18deg);
}

.padding-bottom {
  padding-bottom: 0;
}

.section-nav {
  z-index: 55;
  background-image: linear-gradient(rgba(50, 132, 255, .14), rgba(255, 255, 255, 0));
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.sticky-parent {
  height: 2300px;
  position: relative;
}

.dash-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
}

.floating-write {
  position: absolute;
  top: -8%;
  bottom: auto;
  left: -10%;
  right: auto;
  transform: rotate(-10deg);
}

.floating-write._1 {
  z-index: 1010;
  top: -10%;
  left: -12%;
}

.floating-write._2 {
  z-index: 10;
  top: 17%;
  bottom: auto;
  left: auto;
  right: -16%;
  transform: rotate(18deg);
}

.floating-write._3 {
  z-index: 10;
  top: auto;
  bottom: 30%;
  left: -8%;
  right: auto;
}

.floating-write._4 {
  z-index: 10;
  top: auto;
  bottom: 17%;
  left: auto;
  right: -15%;
  transform: rotate(10deg);
}

.image-7 {
  position: absolute;
  top: 5%;
  bottom: auto;
  left: 3%;
  right: auto;
  transform: rotate(-7deg);
}

.image-8 {
  margin-bottom: 5px;
  margin-right: 5px;
  position: fixed;
  top: auto;
  bottom: 1%;
  left: auto;
  right: 1%;
}

.div-block-21 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.dashboard-section-wrapper {
  display: flex;
  position: relative;
}

.utility-wrap {
  grid-column-gap: 20px;
  display: flex;
}

.utility-content {
  grid-column-gap: 50px;
  display: flex;
}

.inbeta-header {
  position: absolute;
  top: -29px;
}

.utility-rich-wrapper {
  width: 60%;
  padding-top: 68px;
  padding-bottom: 68px;
}

.utility-main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.heading-5 {
  font-size: 42px;
}

.utility-rich h2 {
  margin-top: 59px;
  font-size: 28px;
  line-height: 29px;
}

.utility-rich h1 {
  font-size: 52px;
}

.utility-rich p {
  line-height: 23px;
}

.blog-writer-name {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.blog-publish-details {
  grid-column-gap: 5px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  display: flex;
}

.blog-writer-text {
  grid-row-gap: 2px;
  flex-direction: column;
  display: flex;
}

.blog-image {
  width: 100%;
}

.blog-rich h2 {
  font-size: 32px;
  line-height: 51px;
}

.blog-rich p {
  color: #4f5158;
  line-height: 24px;
}

.blog-rich h4 {
  font-family: Inter, sans-serif;
}

.h1-style-small {
  font-size: 48px;
  line-height: 56px;
}

.blog-post-suggested {
  width: 100%;
  padding-bottom: 0%;
}

.blog-thumbnail {
  width: 100%;
  height: 219px;
  object-fit: cover;
}

.suggested-articles {
  margin-top: 40px;
  padding-left: 0;
  padding-right: 0;
}

.collection-list {
  grid-column-gap: 10px;
  justify-content: space-between;
  display: flex;
}

.section-blog-suggested {
  background-color: #f9fafd;
}

.heading-6 {
  line-height: 53px;
}

.h2-large {
  font-size: 50px;
}

.h2-small {
  font-size: 32px;
}

.h2-medium {
  font-size: 46px;
}

.h2-xlarge {
  font-size: 55px;
  line-height: 60px;
}

.collection-list-2 {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  background-color: #f9f6f8;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 517px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.heading-7 {
  font-family: Inter, sans-serif;
  font-weight: 900;
}

.text-block-4 {
  margin-bottom: 68px;
  font-family: Inter, sans-serif;
}

.strikethrough-text {
  color: #ff0004;
}

.div-block-22 {
  width: 100%;
  grid-column-gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 113px;
  padding-bottom: 113px;
  display: flex;
}

.opacity-25 {
  opacity: .25;
  color: #353a4b;
}

.hide {
  display: none;
}

.text-block-5 {
  color: rgba(255, 255, 255, .9);
  text-align: center;
  background-color: #0085ff;
  border-radius: 15px;
  margin-top: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 700;
}

.background-video {
  width: 100%;
  height: 719px;
  border-radius: 13px;
  box-shadow: 0 2px 100px rgba(50, 132, 255, .14);
}

.spacer-5rem {
  height: 5rem;
}

.chrome-button {
  width: auto;
  grid-column-gap: 10px;
  mix-blend-mode: luminosity;
  background-color: #fff;
  background-image: linear-gradient(155deg, #e0e0e0, #fbfaff 64%, #f0f0f0);
  border-radius: 9px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: all .2s;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 100px rgba(255, 255, 255, .3), inset 0 1px #fff, inset 0 1px rgba(255, 255, 255, .94), inset 0 0 2px 1px #fff, 0 0 0 .5px rgba(0, 0, 0, .08), 0 1px 3px rgba(0, 0, 0, .05), 0 2px 4px rgba(0, 0, 0, .04), 0 4px 8px rgba(0, 0, 0, .03), 0 2px 12px rgba(0, 0, 0, .02);
}

.font-size-large {
  width: auto;
  opacity: .48;
  color: #111;
  white-space: nowrap;
  margin-bottom: 0;
  font-family: Instrument Sans, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2rem;
}

.space-small {
  height: 1.25rem;
}

.text-weight-bold {
  font-weight: 700;
}

.div-block-23 {
  position: static;
  top: 46%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.image-11 {
  width: 32px;
  opacity: .61;
}

.spacer-2-5rem {
  height: 2.5rem;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.div-block-24 {
  padding: 48px;
}

.div-block-25 {
  width: 80%;
  background-color: #f4f5f7;
  border-radius: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 21px;
  display: flex;
}

.text-block-6 {
  opacity: 1;
  color: #353a4b;
  font-family: Instrument Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
}

@media screen and (max-width: 991px) {
  .navbar2_link {
    color: rgba(255, 255, 255, .76);
    text-align: center;
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .navbar2_link:hover {
    color: rgba(255, 255, 255, .82);
  }

  .navbar2_link.w--current {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
  }

  .navbar2_menu {
    -webkit-text-fill-color: inherit;
    background-color: rgba(0, 0, 0, 0);
    background-clip: border-box;
    border-bottom: 1px solid #000;
    justify-content: center;
    padding: 1rem 5% 2.5rem;
    display: flex;
    position: absolute;
    overflow: auto;
  }

  .navbar2_menu.is-page-height-tablet {
    height: auto;
    background-color: #3284ff;
    border-radius: 20px;
    padding-bottom: 1rem;
    transition: height .5s;
    top: 4px;
  }

  .menu-icon2 {
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon2_line-middle {
    width: 24px;
    height: 2px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .navbar2_menu-dropdown {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    display: flex;
  }

  .navbar2_menu-button {
    padding: 0;
  }

  .navbar2_menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .navbar2_container {
    grid-template-columns: .25fr 1fr;
    display: flex;
  }

  .navbar2_button-wrapper {
    align-items: center;
  }

  .navbar2_dropdown-link {
    width: auto;
    text-align: center;
    padding: .75rem 0;
    font-size: 16px;
  }

  .dropdown-icon {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .navbar2_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .navbar2_dropdown-list.w--open {
    border-style: none;
    padding: 0;
    position: static;
  }

  .menu-icon2_line-bottom {
    width: 24px;
    height: 2px;
    background-color: #000;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar2_dropdwn-toggle {
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding: .75rem 2rem .75rem 0;
    display: flex;
  }

  .menu-icon2_line-top {
    width: 24px;
    height: 2px;
    background-color: #000;
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar2_component {
    width: 97%;
  }

  .dashboard-wrapper {
    height: 400px;
    max-height: 300px;
    min-height: 400px;
  }

  .grid-container.margin--top {
    grid-column-gap: 6px;
  }

  .text-size-xlarge {
    font-size: 14px;
    line-height: 20px;
  }

  .features-main-wrapper {
    padding-left: 55px;
    padding-right: 55px;
  }

  .dashboard-image-wrapper, .div-block-8 {
    width: 100%;
  }

  .pricing {
    grid-template-columns: 1fr 1fr;
  }

  .footer-content-wrapper {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    flex-direction: column;
    align-items: center;
  }

  .benefits-heading {
    font-size: 21px;
    line-height: 24px;
  }

  .sheen {
    left: -26%;
  }

  .sheen._1 {
    top: -8%;
    right: -47%;
  }

  .saveupto {
    right: -118%;
  }

  .sticky-parent {
    height: auto;
  }

  .floating-write._1, .floating-write._2, .floating-write._3, .floating-write._4 {
    display: none;
  }

  .dashboard-section-wrapper {
    flex-direction: column;
  }

  .utility-rich-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .aling-center.max-width-large {
    font-size: 55px;
    line-height: 59px;
  }

  .max-width-medium.aling-center {
    font-size: 38px;
    line-height: 42px;
  }

  .section-subtext.aling-center.margin-bottom {
    font-size: 18px;
  }

  .hero-content-wrapper.margin--top {
    height: 39vh;
  }

  .navbar2_menu.is-page-height-tablet {
    padding-bottom: 1rem;
  }

  .button.is-navbar2-button {
    padding: .25rem 1rem;
  }

  .navbar2_component {
    min-height: 4rem;
  }

  .image {
    width: 100%;
  }

  .dashboard-wrapper {
    height: 300px;
    min-height: 350px;
  }

  .grid-container.margin--top {
    grid-template-columns: 1fr;
  }

  .features-main-wrapper {
    padding-left: 47px;
    padding-right: 47px;
  }

  .feature-item-text {
    font-size: 30px;
  }

  .div-block-5 {
    display: none;
  }

  .feature-item-icon {
    width: 30px;
  }

  .faq-question-wrapper {
    width: 100%;
    border-radius: 0;
  }

  .paragraph {
    padding-right: 0;
  }

  .footer-link-main-wrap {
    width: 100%;
    grid-column-gap: 0px;
    justify-content: space-between;
  }

  .footer-utility-wrapper.margin--top {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  .benefits-heading {
    font-size: 29px;
    line-height: 31px;
  }

  .sheen {
    bottom: -6%;
    left: -29%;
  }

  .sheen._1 {
    top: -18%;
    right: -51%;
  }

  .saveupto {
    right: -118%;
  }
}

@media screen and (max-width: 479px) {
  .main-wrapper {
    overflow: hidden;
  }

  .padding-global.mobile-absent {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-section-large {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .aling-center.max-width-large {
    max-width: 100vw;
    font-size: 9.6vw;
    line-height: 40px;
  }

  .aling-center.faq {
    font-size: 30px;
    line-height: 37px;
  }

  .max-width-medium {
    font-size: 40px;
    line-height: 47px;
  }

  .max-width-medium.aling-center {
    font-size: 31px;
    line-height: 35px;
  }

  .section-subtext.aling-center {
    font-size: 16px;
    line-height: 24px;
  }

  .section-subtext.aling-center.margin-bottom {
    font-size: 16px;
    line-height: 20px;
  }

  .hero-content-wrapper.margin--top {
    height: 30vh;
    min-height: 374px;
  }

  .cta-button.margin--top, .cta-button.secondary {
    justify-content: center;
  }

  .navbar2_link {
    color: #fff;
  }

  .navbar2_link.w--current {
    color: #fff;
    background-color: rgba(255, 255, 255, .11);
  }

  .navbar2_link.mobile {
    margin-top: 50%;
    display: block;
  }

  .navbar2_menu.is-page-height-tablet {
    height: auto;
    background-color: #3284ff;
    border-bottom-style: none;
    border-radius: 15px;
    padding-bottom: 1rem;
    top: 5px;
    box-shadow: 0 2px 20px #d8dde9;
  }

  .menu-icon2_line-middle, .menu-icon2_line-bottom, .menu-icon_line-middle-inner, .menu-icon2_line-top {
    background-color: #000;
  }

  .dashboard-wrapper {
    max-height: 250px;
    min-height: 200px;
  }

  .text-size-xlarge {
    font-size: 16px;
    line-height: 22px;
  }

  .features-main-wrapper {
    border-radius: 0;
    padding-left: 29px;
    padding-right: 29px;
  }

  .feature-item-text {
    font-size: 26px;
    line-height: 38px;
  }

  .dashboard-image-wrapper {
    height: 400px;
    margin-bottom: 43px;
  }

  .pricing {
    grid-template-columns: 1fr;
  }

  .faq-question-wrapper {
    width: 100%;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .faq-question-text {
    font-size: 18px;
  }

  .paragraph {
    font-size: 15px;
    line-height: 23px;
  }

  .cta-button-wrapper {
    flex-direction: column;
  }

  .footer-content-wrapper {
    align-items: flex-start;
  }

  .footer-link-main-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: flex-start;
    display: grid;
  }

  .footer-utility-wrapper.margin--top {
    align-items: flex-start;
  }

  .padding-section-xxlarge {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .benefits-heading {
    font-size: 23px;
  }

  .sheen {
    bottom: -20%;
  }

  .sheen._1, .saveupto {
    display: none;
  }

  .image-8 {
    z-index: 5555;
  }

  .utility-content {
    width: 100%;
    grid-row-gap: 40px;
    flex-wrap: wrap;
  }

  .faq-heading-wrapper {
    padding-left: 18px;
    padding-right: 18px;
  }

  .utility-rich h2 {
    font-size: 20px;
  }

  .utility-rich h1 {
    font-size: 32px;
  }

  .utility-rich p {
    font-size: 14px;
  }

  .utility-page-wrap {
    height: 90vh;
  }

  .image-10 {
    width: 60vw;
  }

  .font-size-large {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

#w-node-d9141ae9-b491-6f1e-4853-a07404001320-b51db15b, #w-node-d9141ae9-b491-6f1e-4853-a07404001327-b51db15b, #w-node-d9141ae9-b491-6f1e-4853-a0740400132e-b51db15b, #w-node-_75343b93-96a2-6d8a-005b-ccdd644e4cc3-644e4ca8, #w-node-_16075bf2-bce5-aed3-9cfc-cfe0716f27e2-644e4ca8, #w-node-_75343b93-96a2-6d8a-005b-ccdd644e4cd9-644e4ca8, #w-node-_75343b93-96a2-6d8a-005b-ccdd644e4cef-644e4ca8, #w-node-_75343b93-96a2-6d8a-005b-ccdd644e4d1d-644e4ca8, #w-node-_6235d291-b419-9fb6-23a7-a26621f6c230-644e4ca8, #w-node-_75343b93-96a2-6d8a-005b-ccdd644e4d33-644e4ca8, #w-node-_75343b93-96a2-6d8a-005b-ccdd644e4d49-644e4ca8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_3d289e2d-5497-0673-c54a-e14c64e57d12-64e57d0a {
  justify-self: center;
}

#w-node-_3d289e2d-5497-0673-c54a-e14c64e57d1e-64e57d0a {
  justify-self: end;
}

#w-node-f2bd8324-6d37-01a1-e7c7-59ab8121cba6-8121cb9e {
  justify-self: center;
}

#w-node-f2bd8324-6d37-01a1-e7c7-59ab8121cbae-8121cb9e {
  justify-self: end;
}

#w-node-_4dafb92e-6ed0-d430-2730-d3cba53a9ff6-e76d313e {
  justify-self: center;
}

#w-node-_4dafb92e-6ed0-d430-2730-d3cba53a9ffd-e76d313e {
  justify-self: end;
}

#w-node-e777770c-d93c-3a43-d19f-5276f19f1111-5713f41c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-ExtralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-RegularItalic.otf') format('opentype'), url('../fonts/Graphik-SuperItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Graphik super';
  src: url('../fonts/Graphik-Super.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Larken';
  src: url('../fonts/Larken-ExtraBold.otf') format('opentype'), url('../fonts/Larken-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Larken';
  src: url('../fonts/Larken-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}